.home__container {
    background-color: #E7F3FF;
    
    width: 100%;
    height: 100vh;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.home__container_searchCity {
    width: 90%;
    height: auto;
    margin: 0 auto;
}